<!-- <p>game works!</p> -->
@for (player of game.players; track player; let i = $index) {
      <app-player class="player-info hide-mobile" [ngStyle]="{'top': 100 + (i*90) + 'px'}" 
      [activePlayer]="i == game.currentPlayer"
      [name]="player"></app-player>
}

<div class="scroll-container hide-desktop">
    @for (player of game.players; track player; let i = $index) {
        <app-player-mobile [ngStyle]="{'top': 0 + 'px', 'left': 5 + (i*65) + 'px'}" 
        [activePlayer]="i == game.currentPlayer"
        [name]="player"></app-player-mobile>
  }
</div>
<!-- <app-player *ngFor="let player of game.players" class="player-info" [ngStyle]="{'top': (i*4) + 'px'}"></app-player> -->

<div class="gamescreen">
    
    <div class="card-stack">
        @for (c of [1,2,3,4]; track c; let i = $index) {
            <img [ngStyle]="{'right': (i*4) + 'px', 'bottom': -148+(i*4) + 'px'}"
              src="assets/img/cards/card_cover.png" alt="">
        }
        <img (click)="takeCard()" class="top-card" style="right: 16px; bottom: -132px;"
            src="assets/img/cards/card_cover.png" alt="">

        @for (card of game.playedCards; track card) {
            <img class="played-card" src="assets/img/cards/{{ card }}.png" alt="">
        }

        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 16px; bottom: -132px;"
            src="assets/img/cards/{{ game.currentCard }}.png" alt="">
        <!-- <img *ngFor="let c of [1,2,3,4,5]; let i = index" [ngStyle]="{'right': i + 'px'}" src="./assets/img/cards/card_cover.png" alt=""> -->
    </div>
</div>

<app-game-info [card]="game.currentCard" class="card-info"></app-game-info>

<button (click)="openDialog()" class="add-btn" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>