body {
    margin: 0;
}

.player-info {
    position: absolute;
    right: 0;
    z-index: 1;
}

.gamescreen {
    background-image: url('./../../assets/img/wood-texture-close.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    // max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        // height: 200px;
        width: 130px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 50ms ease-in-out;
    &:hover {
        // transform: scale(1.05);
        transform: scale(1.05) translateY(-5px);
    }
}

.pick-card {
    // transition: all 125ms ease-in-out;
    // transform: scale(1.5) !important;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.05) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.05) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.played-card {
    right: 16px;
    bottom: -132px;
    transform: scale(1.05) translateX(140px) translateY(-180px) rotate(-10deg);
}

.add-btn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.card-info {
    position: absolute;
    bottom: 32px;
    left: 80px;
    right: 120px;

    @media(max-width: 720px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.scroll-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    // gap: 6px;
    overflow-x: auto;
    // overflow-y: hidden;

    app-player-mobile {
        margin-left: 6px;
    }
}