<!-- <p>startscreen works!</p> -->
<div class="startscreen">
    <div class="img-box">
        <img src="./assets/img/cards/ace_1.png" alt="">
        <img src="./assets/img/cards/diamonds_1.png" alt="">
        <img src="./assets/img/cards/hearts_1.png" alt="">
        <img src="./assets/img/cards/clubs_1.png" alt="">
        <div class="gold-box">
            <div class="red-box">
                <p>RING<br> of<br> FIRE</p>
                <div class="start-btn">
                <!-- <a class="start-btn" href="game"> -->
                    <div (click)="goToGame()" class="hover-area"></div>
                    <img class="start-btn-img" src="./assets/img/banner-1096550_1280.png" alt="">
                    <p>Start</p>
                <!-- </a> -->
                </div>
                
            </div>
        </div>
        
    </div>
</div>